

body
{
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
}

td.block,
span.block
{
  text-align: center;
  font-size: 1.3em;
}

h1
{
  text-align: center;
  padding: 0.2em;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  font-family: monospace;
  font-size: 240%;
}

h2
{
  padding: 0.2em;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  font-family: sans-serif;
  font-size: 120%;
}

h3
{
  padding: 0.2em;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  font-family: sans-serif;
  font-size: 0.8em;
}

p
{
  /* margin-left: 2%; */
}

pre
{
  width: 91%;
  background-color: #ddd;
  margin: 1%;
  margin-left: 3%;
  margin-right: 3%;
  padding: 1%;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

a.fancy-link[href]
{
  /*
  background-color: #ff8;
  padding: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  */
}

table.download-links
{
  margin-left: 3%;
}

dl.download-links
{
  margin-left: 3%;
}

dl.download-links > dt
{
  font-weight: bold;
}

table.download-links tr>td
{
  padding: 6px;
}

span.filename
{
  font-family: monospace;
}

.last-modified
{
  font-size: 0.6em;
  text-align: center;
}


